

.sectionIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  width: 48px;
  height: 48px;

  cursor: default;

  background-color: #ffd166;
  border-radius: 50%;
}

.sectionIcon>span {
  font-size: 26px;
}

.section>h1 {
  font-size: 15px;

  flex-grow: 0;
  flex-shrink: 0;

  margin: 10px;
}

.clickable {
  cursor: pointer !important;
}

/*
Bean checkboxes
*/
.toggle {

  margin-right: 10px;
  margin-bottom: 10px;

  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;

  user-select: none;

  background-color: #EBEBEB;
  border-radius: 100px;

  border: 1px solid #D9D9D9;
}

.checkbox:checked+.toggle {
  background-color: #FFD166;
  border: 1px solid #FFD166;
}

.checkbox {
  display: none;
}

/*
Switch checkbox
*/
.checkboxSwitch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.checkboxSwitch::before {
  width: 46px;
  height: 26px;
  border-radius: 26px;

  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
}

.checkboxSwitch::after {
  position: absolute;
  content: "";
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 3px;
  transition: left 500ms ease;
  top: 3px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 15%);
}

.checkboxSwitch:checked::after {
  background-color: #fff;
  left: 23px;
  transition: left 500ms ease;
}

.checkboxSwitch:checked::before {
  background-color: #FFD166;
}

/*
Filter Modal
*/

.filterModal h2 {
  font-size: 1.2rem;
}

.section {
  border-top: 2px solid #D9D9D9;
}

.sectionTitle {
  font-size: 15px;

  flex-grow: 0;
  flex-shrink: 0;

  margin: 10px;
}

.sectionHeader {
  min-height: 65px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestionWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}